body 
{
    width: 50%;
    max-width: 800px;
    margin: auto;

    background: url(rpgback2.jpg) center ;
    font-family: 'roboto';
    line-height: 1.5;
    color: #17f566;
}

main 
{
    background: #00000052;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 50px;
}
.logo
{
    text-align: center;
}
.rpg-name
{
    text-align: center;
}
.data
{
    margin: 30px 0;
    text-align: center;
}
